body {
    color: #000000;
    background-color: #ffffff;
    font: 12px "Helvetica Neue",
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: 100%;
}

.row {

}

.col {

}