<footer class="footer fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h5>About Us</h5>
                <p>Your company description goes here.</p>
            </div>
            <div class="col-md-6 col-sm-12">
                <h5>Contact Us</h5>
                <ul class="list-unstyled">
                    <li>Email: example@example.com</li>
                    <li>Phone: 123-456-7890</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                &copy; {{ site.title }} {{ "now" | date: "%Y" }}
            </div>
        </div>
    </div>
</footer>


