<footer class="footer bg-dark text-light py-4">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6 col-sm-12 text-center">
                <h5>Contact Me</h5>
                <ul class="list-unstyled text-start">
                    <li>
                        <strong>Email: </strong>
                        <a href="mailto:example@example.com" class="text-light text-decoration-none">
                            example@example.com
                        </a>
                    </li>
                    <li>
                        <strong>Phone: </strong>
                        <a href="tel:+1234567890" class="text-light text-decoration-none">
                            123-456-7890
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-6 col-sm-12 text-center">
                <h5>Find Me On</h5>
                <ul class="list-unstyled d-flex justify-content-center">
                    <li class="mx-3">
                        <a href="https://www.linkedin.com/in/your-profile" class="text-light" target="_blank" title="LinkedIn">
                            <i class="fab fa-linkedin fa-2x"></i>
                        </a>
                    </li>
                    <li class="mx-3">
                        <a href="https://github.com/your-profile" class="text-light" target="_blank" title="GitHub">
                            <i class="fab fa-github fa-2x"></i>
                        </a>
                    </li>
                    <li class="mx-3">
                        <a href="https://twitter.com/your-profile" class="text-light" target="_blank" title="Twitter">
                            <i class="fab fa-twitter fa-2x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <p class="mb-0">
                    <strong>&copy; {{ site.title }} {{ "now" | date: "%Y" }}</strong>
                </p>
            </div>
        </div>
    </div>
</footer>
