body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #f9c846;
}

h1, h2, h3, h4, h5, h6 {
  color: #f9c846;
}

p, label, ul, li {
  color: black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

h1, h2 {
  text-align: center;
}

form {
  background-color: black;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label {
  color: #f9c846;
}

input, textarea {
  background-color: #333;
  color: white;
  border: 1px solid #f9c846;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
}

textarea {
  resize: none;
}

button {
  background-color: #f9c846;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #e6b93d;
}

a {
  color: #f9c846;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.mt-5 {
  margin-top: 50px;
}

.list-unstyled {
  padding-left: 0;
}

ul li {
  color: black;
}

ul li a {
  text-decoration: none;
  color: #f9c846;
}

ul li a:hover {
  color: #e6b93d;
}

.text-warning {
  color: #f9c846;
}
