---
layout: default
---

<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item black-link"><a href="{{ '/blog' | relative_url }}">Blog</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
        </ol>
    </nav>
    
    <article>
        <h2 class="text-center">{{ page.title }}</h2>
        <p class="text-center">{{ page.date | date: "%B %d, %Y" }}</p>
        <p class="lead">{{ content }}</p>
    </article>
</div>